# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# compiled output
PYA-Client/dist
PYA-Client/tmp

# dependencies
PYA-Client/node_modules
PYA-Service/node_modules
PYA-Client/bower_components

# IDEs and editors
PYA-Client/.idea

# misc
PYA-Client/.sass-cache
PYA-Client/connect.lock
PYA-Client/coverage/*
PYA-Client/libpeerconnection.log
PYA-Clientnpm-debug.log
PYA-Clienttestem.log
PYA-Client/typings

# e2e
PYA-Client/e2e/*.js
PYA-Client/e2e/*.map

#System Files
PYA-Client/.DS_Store
